/*
Redundant stylings tagged *REDUNDANT*
*/

html {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
}

#stortinget {
  padding: 0;
  text-align: center;
  font-size: 12px;
}

body {
  margin: 0;
  margin-top: 70px;
  background: #ebebeb;
}

h1 {
  text-align: center;
  color: #56575D;
  font-weight: 500;
}

.nodrag {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.header {
  width:975px;
  height: 50px;
  margin: auto;
  display: table;
}

.header-wrapper {
  top: 0px;
  width:100%;
  position: fixed;
  background: #ebebeb;
  border: 1px solid #CCC;
}

.header-text {
  font-size: 20px;
  font-weight: 500;
  color: #56575D;
  margin-top: 10px;
}

.italic {
  font-size: 14px;
  font-style: italic;
  font-weight: 500;
  color: #56575D;
}

.content-wrapper {
  width:960px;
  background: #FFF;
  padding: 20px 7px;
  height: 2000px;
  margin: auto;
}

.hex {
  cursor:pointer;
  transition: opacity 50ms;
}
.fadehex {
  opacity:.35;
  transition: opacity 300ms;
}
.semifadehex {
  opacity:.66;
  transition: opacity 150ms;
}

.infogroup {
  fill:none;
  stroke-width:30;
}

iframe[seamless] {
  border: 0px;
  /*REDUNDANT*/
}
