/*
Redundant stylings tagged *REDUNDANT*
*/

html {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  margin: 0;
  background: #e5e5e5;
  font-size: 0;
}


p, h1, h2 {
  color: #56575D;
  font-size: 16px;
  margin: 0;
  font-weight: 500;
}

h1 {
  text-align: center;
  font-size: 25px;
}

.tetrisSwitch input {  display:none; }

.tetrisSwitch h2 {
  cursor:pointer;
  margin: 5px auto;
  transition: margin-left 500ms;
}

.tetrisSwitch h2.checked {
  transition: margin-left 500ms;
  color: white;
}

.tetrisSwitch:hover {
  border: 2px solid #00000033;
  padding: 8px;

}

.tetrisSwitch {
  margin-top: 15px;
  padding: 10px;
  float: left;
  clear: both;
  cursor:pointer !important;
  background: #e5e5e5;
  height: 30px;
  width: 100%;
  border-radius: 3px;
  transition: background 200ms
}

#TetrisBtns {
  float: left;
  width: 50%;
}

.nodrag {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.header {
  width:975px;
  height: 50px;
  margin: auto;
  display: table;
}

.header-wrapper {
  top: 0px;
  width:100%;
  position: fixed;
  background: #e5e5e5EE;
  border: 1px solid #CCC;
  z-index: 1;
}

.header-text {
  font-size: 20px;
  font-weight: 500;
  color: #56575D;
  margin-top: 10px;
}

.italic {
  font-size: 14px;
  font-style: italic;
  font-weight: 500;
  color: #56575D;
  opacity: .6;
}

.content-wrapper {
  width:975px;
  height: 2000px;
  margin: 50px auto;
  font-size: 0px;
}

.main-col {
  width: 740px;
  margin-right: 20px;
  float: left;
}

.widget-module {
  background: #FFF;
  padding: 40px 50px;
}

.side-col {
  width: 215px;
  float: right;
}

.hex {
  cursor:pointer;
  transition: opacity 50ms;
}
.fadehex {
  opacity:.35;
  transition: opacity 300ms;
}
.semifadehex {
  opacity:.66;
  transition: opacity 150ms;
}

.infogroup {
  fill:none;
  stroke-width:30;
}

iframe[seamless] {
  border: 0px;
  /*REDUNDANT*/
}
